* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 2.25rem 2rem;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    width: 80%;
}

.search button{
    border:0;
    outline: 0;
    background: #ebfffc;
    border-radius:50%;
    width:60px;
    height:60px;
    cursor:pointer;
}

.search button img{
    width: 16px;
}

.whether-icon{
    width: 170px;
    margin-top:30px;
}

.whether h1{
    font-size: 80px;
    font-weight: 500;
}
.whether h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    
    text-align: left;
   flex-direction: row;
   justify-content: space-between;
   gap: 10px;
   
}
.win, .hum{
    display: flex;
}
    .win img{
        width: 40px;
        margin-right:10px;
      margin-bottom: 4px;
    }

     .hum img{
        width: 40px;
        margin-right:10px;
      
    }
.humidity,.wind{
font-size: 28px;
margin-top: -6px;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whether{
    display: none;
}

.error{
    text-align: left;
    margin-left:10px;
    font-size:14px;
    margin-top: 10px;
    display: none;
}



@media (max-width: 500px) {
    .search button{
        border:0;
        outline: 0;
        background: #ebfffc;
        border-radius:50%;
        width:3rem;
        height:3rem;
        cursor:pointer;
    }

    .search input {
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 3rem;
        border-radius: 3rem;
        flex: 1;
        margin-right: 8px;
        font-size: 1rem;
        width: 0;
    }

    .card {
        width: 90%;
        max-width: 470px;
        background: linear-gradient(135deg, #00feba, #5b548a);
        color: #fff;
        margin: 100px auto 0;
        border-radius: 20px;
        padding: 2.25rem 1rem;
    }

}
